@using System.Web.Optimization
@using PathDistribution.Helpers

@{
    Layout = null;
    bool isAdmin = System.Web.HttpContext.Current.IsAdmin();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <title>Pathologist Schedule - @ViewBag.Title</title>
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?nocache=" + Guid.NewGuid().ToString("N") + "\" />", "~/bundles/3")
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?nocache=" + Guid.NewGuid().ToString("N") + "\" />", "~/Content/fontawesome")
    @Scripts.RenderFormat("<script src=\"{0}?nocache=" + Guid.NewGuid().ToString("N") + "\"></script>", "~/bundles/d")
    @Styles.Render("~/bundles/bs")
    @RenderSection("styles", false)


    <style>
        .PTOClass {
            /*display: none;*/
            animation: blink 1s infinite;
        }

        @@keyframes blink {
            0% {
                opacity: 1.0;
            }

            50% {
                opacity: 0.0;
            }

            100% {
                opacity: 1.0;
            }
        }

        .sectionleft {
            width: fit-content;
            background: linear-gradient(to bottom, #EFE7DC, #F3F4F8);
        }

        .sectionright {
            width: fit-content;
            background: linear-gradient(to bottom, #A6BAD0, #F3F4F8);
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <header>
                <img src="~/Content/img/logo.gif" alt="sarapath" width="225" height="116" />
                <span class="AppTitle">Pathologist Schedule</span>
                <div class="navmenu">
                    <nav class="navbar-expand-md justify-content-center">
                        <button class="navbar-toggler" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav nav ms-auto">
                                <li class="PTOClass nav-item" id="ptoClass">@Html.ActionLink("PTO Requested", "VacationSchedule", "Admin", new { @style = "color:red" })</li>
                                <li class="nav-link">@Html.ActionLink("Schedule", "Schedule", "Admin")</li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" href="#"
                                       role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">Pathologists</a>
                                    <ul class="dropdown-menu">
                                        @if (isAdmin)
                                        {
                                            <li>@Html.ActionLink("Paths", "Pathologists", "Admin")</li>
                                            <li>@Html.ActionLink("Eligibility", "Eligibility", "Admin")</li>
                                        }
                                        <li>@Html.ActionLink("Vacation Balance", "VacationBalances", "Admin")</li>
                                        <li>@Html.ActionLink("Vacation Schedule", "VacationSchedule", "Admin")</li>
                                    </ul>
                                </li>
                                @if (isAdmin)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-toggle" href="#"
                                           role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">Admin</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Activities", "Assignments", "Admin")</li>
                                            <li>@Html.ActionLink("Activity Conflicts", "AssignmentConflicts", "Admin")</li>
                                            <li>@Html.ActionLink("Canned Comments", "CannedComments", "Admin")</li>
                                        </ul>
                                    </li>
                                }
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" href="#"
                                       role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">Reports</a>
                                    <ul class="dropdown-menu">
                                        @if (isAdmin)
                                        {
                                            <li>@Html.ActionLink("Assignment Totals", "Reports", "Admin", new { id = (int)PathDistribution.Models.ReportTypes.AssignmentTotals }, null)</li>
                                            <li>@Html.ActionLink("Weekend Call Schedule", "Reports", "Admin", new { id = (int)PathDistribution.Models.ReportTypes.WeekendCallSched }, null)</li>
                                            <li>@Html.ActionLink("Call Schedule", "Reports", "Admin", new { id = (int)PathDistribution.Models.ReportTypes.CallSched }, null)</li>
                                        }
                                        <li>@Html.ActionLink("Work Schedule", "Reports", "Admin", new { id = (int)PathDistribution.Models.ReportTypes.WorkSched, @class = "dropdown-item" }, null)</li>
                                        <li>@Html.ActionLink("Path Schedule", "Reports", "Admin", new { id = (int)PathDistribution.Models.ReportTypes.PathSched, @class = "dropdown-item" }, null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="row">
            @*<main>*@
            <div class="col-2 sectionleft">
                <div class="title">@ViewBag.Title</div>
                <div class="scheduletab">
                    <div class="scheduletab-items" style="margin-top:4px;">
                        @RenderSection("Left", false)
                    </div>
                </div>
            </div>
            <div class="col-10 sectionright">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                @* </main>*@
            </div>
            <footer>
                <div>
                    Copyright &copy; @DateTime.Now.Year SaraPath Diagnostics&reg;<br />
                    SaraPath Diagnostics&reg;, 2001 Webber St. Sarasota, FL 34239
                </div>
            </footer>
            @Scripts.RenderFormat("<script src=\"{0}?nocache=" + Guid.NewGuid().ToString("N") + "\"></script>", "~/bundles/a")
            @Scripts.RenderFormat("<script src=\"{0}?nocache=" + Guid.NewGuid().ToString("N") + "\"></script>", "~/bundles/b")
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js" integrity="sha512-YYiD5ZhmJ0GCdJvx6Xe6HzHqHvMpJEPomXwPbsgcpMFPW+mQEeVBU6l9n+2Y+naq+CLbujk91vHyN18q6/RSYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" language="javascript">

    var bool = true;
    //timeout function here to set visibility of pto pending
    //pto pending button here
    $(document).ready(function () {
        if (@isAdmin.ToString().ToLower()) {
            setInterval(function () {
                CheckPTO();
            }, 10000);

            CheckPTO();
        }
    });

    function CheckPTO() {
        $.ajax({
             url: '@Url.Action("CheckPTO", "Admin")',
             dataType: "json",
             type: "POST",
             contentType: 'application/json; charset=utf-8',
             async: true,
             processData: false,
             cache: false
         }).done(function (result) {
             if (result.Status == true) {
                 //alert("10s have passed, showing button");
                 $("#ptoClass").show();
             }
             else {
                 //alert("10s have passed, hiding button");
                 $("#ptoClass").hide();
             }
        });

}
            </script>
            @RenderSection("scripts", false)
        </div>
    </div>
</body>

</html>

