@model PathDistribution.Models.PathDistribution

<tr class="text5" style="text-align:left;">
    <td class="pm plus" style="text-align:center">@Html.DisplayFor(modelItem => Model.chrPath)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.PreAssignedSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.ComplexSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.SPDSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.PCDSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.PPD_SlidesSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.ClientSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.ClinicianSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.HEMESLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.SKINSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.GENERALSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.SDSLIDES)</td>
    <td style="text-align:center">@Html.DisplayFor(modelItem => Model.TOTALSLIDES)</td>
</tr>
